#big-img{
display: block;
margin-left: auto;
margin-right: auto;
height: 50%;
/* width: 50%; */
}
#middle-img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 25%;
  width: 25%;
}
.box{
#small-img{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  /* height: 25%; */
  width: 18%;
  
  

  #article {
    width: 800px;
    /* height: 200px; */
    border: black;
  }

  #parent{
    border: black;
    height: 500px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;


  }

}
}
